* {
    padding: 0px          ;
    margin: 0px           ;
    box-sizing: border-box;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

body {
    background-color: #F2F5F7;
    display: flex              ;
    justify-content: center    ;
    align-items: center        ;
    padding: 10px              ;
}

table {
    width: 100%                   ;
    border-collapse: collapse     ;
    font-family: Arial, sans-serif;
    background-color: #fff      ; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px            ;
    overflow: hidden              ;
    margin-bottom: 20px           ;
}

thead td {
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #4A90E2;
    padding: 12px;
    border-bottom: 2px solid #ddd;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #e1eef7;
}

tbody td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #D8EAF5;
}

td:last-child, td:nth-last-child(2){
    text-align: center;
}

.option-btn {
    padding: 5px 10px;
    margin: 2px;
    font-size: 0.9em;
    color: #fff;
    background-color: #4A90E2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-btn:hover {
    background-color: #357ABD;
}

.option-btn.delete {
    background-color: #E25656;
}

.option-btn.delete:hover {
    background-color: #C14444;
}

.no-data {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #f2f5f7; 
    color: #333; 
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.presentation {
    padding: 20px;
    background-color: #9fbcde; 
    color: black; 
    border-radius: 5px;
    text-align: left; 
}

.presentation h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.presentation p {
    font-size: 1em;
    margin: 0;
}

#new-car-button {
    width: 20%                 ;
    padding: 5px               ; 
    background-color: #357ABD;
    border-radius: 5px         ;
    color: white             ;
    border: none               ;
    cursor: pointer            ;
}

#input-filter {
    border: 1px solid #357ABD;
    padding: 3px;
    border-radius: 3px;
}

#label-filter {
    margin-left: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family:  Arial, sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
}

form h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

form label {
    font-size: 14px;
    color: #333;
}

form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button[type="submit"] {
    padding: 10px;
    background-color: #4A90E2; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form #close-form-btn {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #C14444;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-btns button {
    width: 20%;
}

.show {
    display: flex !important;
}
